* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v32-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v32-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-baskerville-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/libre-baskerville-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --text-color: #525560;
  --white-color: #fff;
  --link-color: #18191f;
  --primary-color: #023f3a;
  --fone-color: #f2eee9;
}
body {
  font-family: "Josefin Sans";
}
a,
li,
ul {
  list-style: none;
  text-decoration: none;
}
.header {
  width: 100%;
  margin: auto 0;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar__list-link {
  color: var(--link-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.navbar__list-link:hover {
  transition: all 1.2 ease-in;
  color: #c13512;
}
.nav__btn {
  color: var(--default-white, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  background: transparent;
  padding: 10px 22px;
  border: #c13512 1px solid;
  color: #c13512;
}
.nav__btn:hover {
  transition: all 1.2 ease-in;
  background: #c13512;
  color: #ffffff;
}
.hero {
  background: url("../images/BG.png");
  padding-top: 119.5px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 85%;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__container h1 {
  width: 88%;
  color: var(--white-color);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.hero__container p {
  color: var(--fone-color);
  text-align: center;
  width: 66%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.btn__group button {
  color: var(--white-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  border: 1px solid white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.46px;
  background-color: transparent;
  outline: none;
  padding: 15px 50px;
  cursor: pointer;
}
.btn__group button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  transition: all 1.2 ease-in;
}
.btn__group button:first-child {
  margin-right: 30px;
}
.btn__group {
  margin-bottom: 60px;
}
.teg__h1 {
  color: var(--primary-color);
  font-feature-settings: "liga" off;
  font-family: "Libre Baskerville";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.left__text h1 {
  width: 445px;
}
.left__text p {
  color: var(--text-color);
  width: 56%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  margin-bottom: 30px;
}
.link__logo {
  display: flex;
  align-items: center;
  gap: 43px;
  margin-bottom: 22px;
}
.right__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.link__logo a,
.ganster {
  display: flex;
  align-items: center;
  gap: 30px;
}
.img__item img {
  border-radius: 12px;
}
.img__item {
  display: flex;
  gap: 25px;
}
.second__container {
  display: flex;
  margin-top: 65px;
}
.rasmlar {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.hero__three {
  margin-top: 65px;
  text-align: center;
  margin-bottom: 65px;
}

.rasm {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 234px;
  color: var(--white-color);
  padding-left: 16px;
  width: 350px;
  height: 362px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.99%, #000 100%);
}
.rasm h2 {
  font-family: "Libre Baskerville";
  font-weight: 400;
  margin-bottom: 8px;
}
.rasm p {
  text-align: start;
  box-shadow: rgba(0, 1, 0, 0.56) 0px 22px 70px 4px;
}
.rasm1 {
  background-image: url("../images/daraxt.png");
}
.rasm2 {
  background-image: url("../images/uzum.png");
}
.rasm3 {
  background-image: url("../images/tiplisa.png");
}
.testimonials {
  background-color: var(--fone-color);
  padding-bottom: 60px;
}
.test__container {
  padding-top: 64px;
  text-align: center;
}
.test__temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
.temp p {
  width: 340px;
}
h3 {
  font-family: Libre Baskerville;
}
.discover__container {
  text-align: center;
  padding-top: 64px;
}
.temp img {
  border-radius: 50%;
}
.everyone {
  margin-top: 65px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: var(--fone-color);
}
.flexis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 41px;
}
.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.ever__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
}
.ever__cont img {
  width: 540px;
  height: 363px;
}
.textis {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  width: 445px;
}
.textis h1 {
  color: var(--primary-color);
}
.nv2 {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.email {
  padding: 65px;
}
.media {
  display: flex;
  flex-direction: column;
}
.media h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: var(--link-color);
  font-family: Libre Baskerville;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
}
.met,
.tem {
  display: flex;
  align-items: center;
  gap: 32px;
}
.em {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
form {
  width: 554px;
  height: 510px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--white-900, #fff);
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  /* tailwind/drop-shadow-xl */
  box-shadow: 0px 24px 48px -12px rgba(85, 105, 135, 0.10);
 
  display: flex;
  flex-direction: column;
}
label {
  color: var(--gray-800, #333f51);
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
input {
  outline-color: var(--text-color);
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #d5dae1);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}
textarea {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #d5dae1);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  outline-color: var(--text-color);
  margin-bottom: 24px;
}
.btnis {
  color: var(--fone-color);
  padding: 16px 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  background: transparent;
  cursor: pointer;
  color: var(--primary-color);
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
}
.btnis:hover{
background-color: #023f3a;
color: var(--white-color);
transition: all 0.2s ease-in;
}
.footer{
    background-color: var(--fone-color);
    padding-top: 100px;
    padding-bottom: 104px;
    text-align: center;
}
.footer__first{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7d7272;
    padding-bottom: 54px;
    margin-bottom: 30px;
}
.footer_list p{
    color: #222;
    font-family: Josefin Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}
.footer_list{
    display: flex;
    flex-direction: column;
 
    gap: 10px;
}
.footer_list li {
    font-size: 14px;
    opacity: 0.8;
}
span{
    color: #000000;
font-family: Josefin Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
opacity: 1;
}
.footer_list a {
    display: inline;
}
.tarmoq{
    display: flex;
    align-items: center;
    gap: 26px;
}