* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v32-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v32-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-baskerville-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/libre-baskerville-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root{
    --text-color: #525560;
    --white-color: #fff;
    --link-color: #18191F;
    --primary-color: #023F3A;
    --fone-color: #F2EEE9;
}
body{
    font-family: "Josefin Sans";
}
a, li, ul{
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    margin:  auto 0;
}

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.navbar{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list{
    display: flex;
    align-items: center;
    gap: 32px;
}
.navbar__list-link{
    color: var(--link-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.navbar__list-link:hover{
    transition: all 1.2 ease-in;
    color: #C13512;
}
.nav__btn{
    color: var(--default-white, #FFF);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Josefin Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
background: transparent;
padding: 10px 22px;
border: #C13512 1px solid;
color: #C13512;
}
.nav__btn:hover{
    transition: all 1.2 ease-in;
    background: #C13512;
    color: #ffffff;  
}
.hero{
    background: url(
        '../images/BG.png'
    );
    padding-top: 119.5px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 85%;
}
.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__container h1{
    width: 88%;
    color: var(--white-color);
text-align: center;
font-family: 'Libre Baskerville';
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
text-transform: capitalize;
margin-bottom: 10px;
}
.hero__container p{
    color: var(--fone-color);
text-align: center;
width: 66%;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 50px;
}

.btn__group button{
    color: var(--white-color);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
border: 1px solid white;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.46px;
background-color: transparent;
outline: none;
padding: 15px 50px;
cursor: pointer;
}
.btn__group button:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: all 1.2 ease-in;
}
.btn__group button:first-child{
    margin-right: 30px;
}
.btn__group{
    margin-bottom: 60px;
}
.teg__h1{
    color: var(--primary-color);
font-feature-settings: 'liga' off;
font-family: "Libre Baskerville";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
}